@model UserInfo
@{
    ViewBag.Title = "Details";
}

@{
    // Set the badge color based on the attendance status
    var className = Model.WillAttend ? "primary" : "danger"; 
    // Set the status message based on the attendance status
    var statusCheck = Model.WillAttend ? "Attending" : "Not Attending";
}
<main class="text-center">
    <h1 class="h4"> Details</h1>
    <!--Add a badge to display the attendance status -->
    <span class="badge text-bg-@className"> 
        @statusCheck
    </span>
    <p>Name: @Model.Name</p>
    <p>Email: @Model.Email</p>
    <p>Phone: @Model.Phone</p>
    <a asp-controller="Meeting" asp-action="List" class="btn btn-outline-@className">Meeting Attendance List</a>
</main>