@{
    ViewBag.Title = "Meeting Summary";
}

<h1 class="h4">Meeting Summary</h1>
<p>The meeting summary will be placed here.</p>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="List">List Participants</a>
