@{
    ViewBag.Title = "Meeting Attendance List";
}

<h1 class="h4">Meeting Attendance List</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Attendance Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jon Jones</td>
            <td>Yes</td>
            <td> 
                <a class="btn btn-sm btn-primary" href="#">Details</a>    
            </td>
        </tr>
    </tbody>
</table>
