@model List<UserInfo>
@{
    ViewBag.Title = "Meeting Attendance List";
}


<h1 class="h4 text-center">Meeting Attendance List</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Attendance Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @{
            int count = 0;
        }

        @foreach (var user in Model)
        {
            count++;
            var rowColor = user.WillAttend ? "table-success" : "table-danger";
                
            <tr class="@rowColor">
                <td>@user.Name</td>
                <td>@(user.WillAttend ? "Attending" : "Not Attending")</td>
           
                <td>                    
                    <a class="btn btn-sm btn-primary" href="/meeting/details/@user.Id">Details</a>
                </td>
            </tr>
        }

    </tbody>
</table>
<div class="card text-center">
    <div class="card-body">
        <span>Total number of participants: @count</span>
    </div>
</div>