<h1>Meeting Attendance List</h1>
<table>
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Attendance Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jon Jones</td>
            <td>info@jonjones.com</td>
            <td>Yes</td>
            <td> 
                <a href="#">Details</a>    
            </td>
        </tr>
    </tbody>
</table>
